<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-thumbnail slot="start" style="width:45px;height:45px;">
        <img alt="Silhouette of mountains" src="../assets/logo.png" />
      </ion-thumbnail>
      <ion-label
        style="color:white;font-family:'Comic Sans MS', 'Comic Sans', cursive;font-size: 20px;font-weight: bolder;">
        Fun with Learning</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>

    <ion-img src="../assets/pr.gif" style="width:385px;height:280px;margin-left: -55px;margin-top:0px;"></ion-img>

    <div class="line">Discover a limitless<br> world of learning </div>
    <button routerLink="/tabs/tab1">Lets Start!</button>

  </div>

</ion-content>