<ion-header>
  <ion-toolbar>
      <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>This is about page</ion-card-content>

      <ion-card class="ion_card_content">
      <img src="https://cdn-icons-png.flaticon.com/128/6997/6997662.png" />
      <ion-card-header>
          <ion-card-title>
              Anime art workshop
          </ion-card-title>
          <ion-card-subtitle class="title">
              6 hrs | 12pm-6pm
          </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion_card_content">
          Learn how to make clay pots
          <br>come one come all and lets have a blast.
      </ion-card-content>
      <ion-card-title>
          Address
      </ion-card-title>
      <ion-card-content class="ion_card_content1">
          R city mall, 1 Lal Bahadur Shastri rd,<br> Amrut Nagar, Ghatkoper west, Mumbai.
      </ion-card-content>
  </ion-card>

  <ion-card>
      <img src="https://cdn-icons-png.flaticon.com/128/6997/6997662.png" />
      <ion-card-header>
          <ion-card-title>
              Pot making workshop
          </ion-card-title>
          <ion-card-subtitle>
              4 hrs | 2pm-6pm
          </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          Learn how to draw modern anime art in just 4 hours.
          <br>come one come all and lets have a blast.
      </ion-card-content>
      <ion-card-title>
          Address
      </ion-card-title>
      <ion-card-content>
          R city mall, 1 Lal Bahadur Shastri rd,<br> Amrut Nagar, Ghatkoper west, Mumbai.
      </ion-card-content>
  </ion-card>
  <button class="info">Click</button>
</ion-content>
