@import '../tab1/tab1.page.scss';

ion-header {
    @include header();

}

.scrol {
    @include scrollb();

    background-color: $primaryC;
}

.bg1 {
    @include topBg();

    ion-segment {
        background-color: white;
        height: 40px;
        width: 70%;
        margin: auto;
        border-radius: 5px;

        ion-label {
            font-weight: 600;
            font-size: small;
            text-align: start;
        }
    }
}


.cd {
    @include bottomBg();
}