@import '../tab1/tab1.page.scss';

ion-header {
    @include header();

}

.scrol {
    @include scrollb();

    background-color: $primaryC;
}

.bg1 {
    @include topBg();

    ion-slides {
        margin-top: 5px;
        margin-left: 25px;
        height: 50px;

        ion-slide {
            width: 50px;
            border: none;
            background-color: $primaryC;

            .a {
                font-family: $myFont;
                font-size: 10px;
                color: white;
                font-weight: 600;

                .b {
                    font-weight: bold;
                    font-size: 15px;

                }
            }

            .a:hover {
                color: rgb(255, 81, 110);
            }

        }

    }
}




.cd {
    @include bottomBg();


    li {
        --ion-background-color: white;
        background-color: white;
        list-style-type: none;
        width: 90%;
        margin: auto;
        --border-radius: 10px;
        border-radius: 10px;


        ion-item {
            margin-bottom: 20px;
            --border-radius: 10px;
            border-radius: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
            box-shadow: 5px 10px 18px #888888;
            height: 85px;
            border: none;

            ion-avatar {
                width: 45px;
                height: 45px;
            }

            .name {
                font-size: 14px;
                font-family: $myFont;
                font-weight: bold;
                color: $headerC;

                .name2 {

                    color: $headerC;
                    font-weight: 600;
                    font-family: $myFont;
                    font-size: 12px;
                }
            }

        }
    }
}

ion-label {
    padding-left: 12px;
    font-size: 15px;
}