<ion-header>
  <ion-toolbar>
    <ion-title style="color: rgb(217, 44, 73);">
      My Profile&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <ion-button color="danger" [routerLink]="['/home']">Home</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="scroll">

  <div id="container">
    <img class="circle-pic" src="assets\Photograph.jpg" />
    <ion-card-title style="color:white;font-size:16px;text-align: center;font-size:large;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">SHIVANI ERANJIKAL</ion-card-title>
    <br><small style="font-size:13px;color:white;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> I am an ambitious, hard-working and driven individual. I look
    forward to working in a growth-oriented organization.</small>
    <br>&nbsp;
  </div>

  <ion-card>
    <ion-card-header color="danger">
      <ion-card-title style="font-size:16px;vertical-align:super;">Education</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-margin-top">
      <ion-icon name="school" color="danger"></ion-icon> &nbsp;Master of Computer Applications (MCA)
      <br>
      <small style="font-size:10px;">SPIT, Autonomous - Pursuing</small>
      <br>
      <br>
      <ion-icon name="school" color="danger"></ion-icon>&nbsp; Bachelor of Commerce (Accounting & Finance)
      <br>
      <small style="font-size:10px;"> MCC, Mumbai University – CGPA: 6.68/7</small>

    </ion-card-content>
  </ion-card>

  

  <ion-card>
    <ion-card-header color="danger">
      <ion-card-title>Technical Skills</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-margin-top">
      <p>Java</p>
      <ion-progress-bar color="danger" value="0.7"></ion-progress-bar>

      <p>C++</p>
      <ion-progress-bar color="danger" value="0.5"></ion-progress-bar>

      <p> HTML / CSS</p>
      <ion-progress-bar color="danger" value="0.6"></ion-progress-bar>

      <p>MySQL</p>
      <ion-progress-bar color="danger" value="0.4"></ion-progress-bar>
    </ion-card-content>

  </ion-card>


  <ion-card>
    <ion-card-header color="danger">
      <ion-card-title>Contact Me</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-margin-top">
     <p><ion-icon name="phone-portrait" color="danger"></ion-icon> 91+ 9833091012
      <br>
      <ion-icon name="mail" color="danger"></ion-icon> shivani.eranjikal@spit.ac.in
      <br>
      <ion-icon name="location" color="danger"></ion-icon> Andheri, Mumbai
    </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="danger" style="height:100px;">
      <ion-card-title style="text-align:center ;">Around the Web
        <br> <ion-icon name="logo-whatsapp"></ion-icon> &nbsp;<ion-icon name="logo-facebook"></ion-icon> &nbsp;<ion-icon name="logo-twitter"></ion-icon> &nbsp;<ion-icon name="logo-linkedin"></ion-icon>
        <br> <small style="font-size:10px;">Copyright Shivani@2022</small>
      </ion-card-title>
    </ion-card-header>


  </ion-card>

 

</ion-content>