$myBgColor: rgb(39, 59, 86);
$myTextColor: rgb(239, 203, 135);
$myFont: 'GT Super Text Web', Serif;
$headerC:black;

$first-number: 20px;
$second-number: 7px;

@function add-numbers($first-number, $second-number) {
    @return $first-number +$second-number
}

ion-header {
    --ion-background-color: $headerC;
}


@mixin scroll {
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}


#first {
    @include scroll();
    --ion-background-color: $myBgColor;
    background-color: $myBgColor;
    font-family: $myFont;
    --color: $myTextColor;
    color: $myTextColor;
    text-align: center;
    font-size: add-numbers($first-number, $second-number);
    --padding-top: 25px;

    ion-img {
        width: 90%;
        margin: auto;
        margin-top: $first-number;

    }

    strong {
        font-size: $first-number;
    }

    ion-slide {
        width: 128px;
        height: 230px;
        background-color: rgb(112, 10, 10);

        img {
            margin-top: 10px;
            width: 110px;
            height: 150px;
            border-radius: 10px;

        }

        ion-label {
            font-size: 18px;
            color: $myTextColor;
        }
    }

}