<ion-content [fullscreen]="false" class="bg">
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-item style="color:white;font-size:19px;">
          <ion-icon name="menu" color="light"></ion-icon>
          &nbsp;&nbsp;Menu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <ion-icon name="notifications" color="light"></ion-icon>
          &nbsp;&nbsp;
          <ion-avatar>
            <img src="../assets/user.png" style="width:40px;height:40px;" />
          </ion-avatar>
        </ion-item>
      </ion-toolbar>
    </ion-header>
  </div>

  <ion-card class="cd">
    <h5
      style="padding-left:20px;color:rgb(109, 36, 36);font-weight: bold;padding-top: 5px;font-size:16px;text-align:left;">
      Placement
      Drive 2022-23<br></h5>
    <ul>
      <li *ngFor="let user of Users">


        <ion-card class="list">
          <div class="upper1">
            {{user.name}} &nbsp;({{user.category}}&nbsp;Category)
          </div>
          <div class="upper2">
            CTC - {{user.ctc}} LPA
          </div>
          <div class="outer" style="display:flex;">
            <div class="one">
              <img src="../assets/logo1.jfif" />
            </div>

            <div class="two">
              Role: {{user.role}}<br>
              Location: {{user.location}}<br>
              <b> Date: {{user.date}}</b> <br>
            </div>

          </div>


          <div style="display:flex;">
            <a href="../assets/jd.png" download>
              <button style="border-right:1px groove;" [routerLink]="['/tabs/view', user.id]">Edit</button></a>
            <button (click)="removeUser(user)">Delete</button>

          </div>
        </ion-card>

      </li>
    </ul>
    &nbsp;<br>
    &nbsp;<br>
    &nbsp;<br>

  </ion-card>




</ion-content>