<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-thumbnail slot="start" style="width:45px;height:45px;">
        <img alt="Silhouette of mountains" src="../assets/logo.png" />
      </ion-thumbnail>
      <ion-label
        style="color:white;font-family:'Comic Sans MS', 'Comic Sans', cursive;font-size: 20px;font-weight: bolder;">
        Nursery Rhymes</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content>
  Johnny Johnny
  <iframe width="280" height="210" src="https://www.youtube.com/embed/UXjpKo-Rbl0">
  </iframe>

  Twinkle Twinkle
  <iframe width="280" height="210" src="https://www.youtube.com/embed/yCjJyiqpAuU">
  </iframe>

</ion-content>