@import '../tab1/tab1.page.scss';


.scrol {
    @include scrollb();


}

.bg2 {
    top: 10px;
    height: 260px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    --ion-background-color: $primaryC;
    background-color: $primaryC;

    .ab {

        margin-top: 0px;
        height: 260px;
        --ion-background-color: white;
        background-color: white;
        margin-left: 0px;
        margin-right: 0px;
        border-top-right-radius: 0px 0px;
        border-top-left-radius: 0px 0px;
        border-bottom-right-radius: 50px 50px;
        border-bottom-left-radius: 0px 0px;
        font-family: $myFont;

        ion-img {
            padding-top: 30px;
        }

    }
}

.bg3 {
    top: 0px;
    height: 400px;
    --ion-background-color: white;
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;

    .cd2 {
        margin-top: 0px;
        height: 400px;
        --ion-background-color: $primaryC;
        background-color: $primaryC;
        margin-left: 0px;
        margin-right: 0px;
        border-top-right-radius: 0px 0px;
        border-top-left-radius: 50px 50px;
        border-bottom-right-radius: 0px 0px;
        border-bottom-left-radius: 0px 0px;
        font-family: $myFont;

        .login {
            padding-top: 10px;


            ion-col {


                input {
                    height: 40px;
                    width: 200px;
                    border-radius: 5px;
                    margin-left: 2px;
                    margin-top: 5px;
                }

                ion-icon {
                    width: 27px;
                    height: 27px;
                    margin-top: 15px;
                }

            }
        }

        button {
            margin-top: 10px;
            width: 130px;
            height: 40px;
            margin-left: 75px;
            background-color: orangered;
            color: white;
            font-weight: 400;
            font-size: 16px;
            border-radius: 5px;

        }

        .labels {
            text-align: center;

            label {
                font-size: 13px;
                color: whitesmoke;
            }
        }
    }

    .cd3 {
        margin-top: 0px;
        height: 400px;
        --ion-background-color: $primaryC;
        background-color: $primaryC;
        margin-left: 0px;
        margin-right: 0px;
        border-top-right-radius: 0px 0px;
        border-top-left-radius: 50px 50px;
        border-bottom-right-radius: 0px 0px;
        border-bottom-left-radius: 0px 0px;
        font-family: $myFont;

        .login {
            padding-top: 10px;


            ion-col {


                input {
                    height: 35px;
                    width: 100%;
                    border-radius: 5px;
                    margin-left: 2px;
                    margin-top: 5px;
                }

                input[placeholder] {
                    font-size: 14px;
                }

                ion-icon {
                    width: 27px;
                    height: 27px;
                    margin-top: 15px;
                }

            }
        }

        button {
            margin-top: 10px;
            width: 130px;
            height: 40px;
            margin-left: 75px;
            background-color: orangered;
            color: white;
            font-weight: 400;
            font-size: 16px;
            border-radius: 5px;

        }

        .labels {
            text-align: center;

            label {
                font-size: 13px;
                color: whitesmoke;
            }
        }

    }
}