@import '../tab1/tab1.page.scss';

ion-tab-bar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ion-img {
    width: 35px;
    height: 35px;
}

ion-label {
    color: $headerC;
    font-size: 10px;
    font-family: $myFont;
    font-weight: 600;
}